.ant-row {margin-bottom: 18px;}
.notice-wrapper{
  padding:20px 0 0;
}
.input-wrapper {
  display: inline-block;
  margin-right:30px;
}
.input-wrapper .ant-input {
  width: 150px;
  margin: 0 8px 8px 0;
}
.ant-table .ant-table-tbody > tr > td {
  text-align: center!important;
}
.ant-table a {
  text-decoration: none!important;
}
.ant-table .stopped {
  color:#999;
  cursor: auto;
}
.page-footer {
  margin: 20px 0;
}
//通知弹出框
.ant-notification{
  width:340px !important;
  margin-right: 16px !important;
}
.ant-notification-notice {
  padding: 16px 14px !important;
}
.ant-notification-notice-icon {
  font-size: 24px;
  line-height: 24px;
}
.ant-notification-notice-with-icon{
  position: relative;
}
.ant-notification-notice-close {
  right: 16px !important;
}
.checkMore{
  position: absolute;
  bottom: -22px;
  right:-7px;
  background: none;
  border: navajowhite;
  color: #108ee9;
}
.checkMore:hover{
  color: #49a9ee;
  background-color: transparent;
  border: none;
}
.ant-modal-body{
  padding: 20px 40px;
}
.ant-form-explain{
  margin-top: 2px;
}
