.operating-wrapper {
  padding: 20px 0 0;
}
.cartype-wrapper {
  margin: 20px 0;
}
.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
  color: #108ee9;
}
.ant-radio-button-wrapper-focused {
  border-color: #108ee9;
  color: #108ee9;
}
.page-footer {
  margin: 20px 0;
}